.parent {
    margin: 0 !important;
    background: #fff;
}

.heading {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 10px 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: lighter;
    background-color: rgba(28, 34, 36, 0.8);
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.heading .logo {
    width: 36px;
}

.header-item {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.header-item-content {
    padding: 14px 28px 0 28px;
}

.header-item-label {
    padding: 16px 42px 0 5px;
}

.seacrhContainer {
    width: 20rem;
    margin-top: 29px;
    left: 50%;
    position: absolute;
    right: 50%;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
}

.cartValue {
    position: absolute;
    right: 2rem;
    top: 1.2rem;
}

.searchIcon {
    position: relative;
    left: -23px;
    color: black;
    top: 1.2rem;
}

.cartIcon {
    position: absolute;
    top: 1rem;
    right: 5rem;
}

.myAccount {
    top: .5rem;
    right: 8rem;
    position: absolute;
}

.expandIcon {
    position: relative;
    left: 4px;
    top: 9px;
}

.searchBox {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-size: 12px;
    height: 36px;
    margin-right: -43px;
    width: 100%;
    border-radius: 18px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    padding: 0px 56px 0px 16px;
}

.store-items {
    position: relative;
    width: 100%;
}

.store-item {
    background-color: #FFF;
    border-radius: 6px;
    padding: 0;
    min-height: 270px;
    max-height: 270px;
    min-width: 190px;
    max-width: 190px;
    position: relative;
    overflow: hidden;
}

.listItems {
    display: flex;
    padding-top: 1.2rem;
    margin: 12px;
    border-radius: 14px;
    flex-direction: column;
    padding-bottom: 1.2rem;
    padding: 1.2rem 1.5rem;
}

.listContainer {
    display: flex;
    position: relative;
    flex-wrap: wrap
}

.pointSummary {
    word-wrap: break-word;
    width: 76px;
    padding-top: 11px;
}

.itemImage {
    height: 163px;
    width: 108px;
}

.pointsDetail {
    display: flex;
    justify-content: center;
}